<html>
    <head>
        <title>Your Movie Choice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles.css">        
    </head>

    <body>
    
  
        <div class="container">
            <div id="movie-details">
                <h1 class="text-center"><%=searchResult.title%></h1>
                <div class="row">
                    <div class="col-xs-5">
                        <img class="movie-poster" src="http://image.tmdb.org/t/p/w500/<%=searchResult.poster_path%>" />
                    </div>
                    <div class="col-xs-7">
                        <table class="table">
                                   
                            <tr>
                                <td>Tagline: <%=searchResult.tagline%> </td>
                            </tr> 
                            <tr>
                                <td>Overview: <%=searchResult.overview%></td>
                            </tr>
                            <tr>   
                                <td>Runtime: <%=searchResult.runtime%> Minutes</td>
                            </tr>
                            <tr>  
                                <td>Released: <%=searchResult.release_date%></td>
                            </tr>
                         </table>
                    </div>    
                </div>


                <div class="row">
                    <div class=buttons>
                        <a class="btn btn-primary" href=<%='../'%>>Back</a>
                    </div>
                </div>
            </div>
        </div>
        
     
    </body>
</html>

